/*
* @Author: Administrator
* @Date:   2017-08-24 17:14:24
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-24 17:36:31
*/
body{
				font-family:sans-serif;
				padding-top: 20px;
				padding-left:20px;
			}
			p{
				position:relative;
				left:20px;
			}
			a{
				text-decoration: none;
			}
			a:hover{
				text-decoration: underline;
			}
			li img{
				display:none;
			}
			li:hover img{
				display:block;
			}
			table.a{
				border-top: dotted;
				border-bottom:dotted;
			}
			table.a th{font-family: Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;
			font-size:20px;
			padding-right:50px;
			width:300px;
			}
			table.a td{
				width:500px;
			}
			table.b{
				border:1px solid gray;
				width:100%;
				border-collapse:collapse;
				table-layout:auto;
			}
			table.b th,td{
				border:1px solid gray;
				margin:1px,5px,3px,5px;
			
			}
			td>p{
				width:600px;
			}	
			#nav{
				float:left;
				background-color:#eeeeee;
				padding-top:30px;
				padding-left:50px;
				height:180px;
				width:100px;
			}
			#section{
				border:10px;
				float:left;
				padding-top:10px;
				padding-left:50px;
				height:150px;
				width:150px;
				
			}
			#footer{
			    clear:both;
			    text-align:left: ;
			   padding:5px;	 }
			div.a{
				float:right;
				padding-left:5px;
				margin-left:5px;
			}
			#right{
				float:left;
				border:1px dotted;
				width:300px;
			padding-left:20px;
			margin-left:20px;}
			#left{
				float:left;
				width:900px;

			}
			img.b{
				width:200px;
				height:200px;
				border:0.5px dotted;
				padding:5px,5px,5px,5px;
			}